<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

	<div style="border-top: 1px solid #E5E5E5; padding-top: 10px">
		<small>
			<h:outputText value="#{msg['rodape.label.detalhes']}" escape="false" />
		</small>
	</div>

</ui:fragment>