<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h1 class="title">
		<h:outputText value="#{msg['aplicativo.titulo']}" />
	</h1>

</ui:fragment>