<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../resources/css/prime.css" />

	<title><h:outputText value="#{msg['aplicativo.titulo']}" /> - <ui:insert name="pageTitle" /></title>
</h:head>

<h:body>
	<f:view contentType="text/html">
		<div class="header">
			<div class="container">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>
		</div>

		<div class="container">
			<div class="row-fluid show-grid">
				<div class="well span2">
					<ui:insert name="sidebar">
						<ui:include src="../menu.xhtml" />
					</ui:insert>
				</div>
				<div class="span8">
					<p:messages id="messages" autoUpdate="true" closable="true" />
					<ui:insert name="content"></ui:insert>
					<ui:insert name="footer">
						<ui:include src="footer.xhtml" />
					</ui:insert>
				</div>
			</div>
		</div>
	</f:view>
</h:body>
</html>