<ui:fragment xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

	<h:form prependId="false" styleClass="form-horizontal" acceptcharset="ISO-8859-1">
		<fieldset>
			<legend>
				<h3>
					<h:outputText value="#{bean.label}" />
					<small> <h:outputText value="#{subtitle}" /></small>
				</h3>
			</legend>
			<ui:insert name="formulario"></ui:insert>
		</fieldset>

		<p:spacer />
		<div class="control-group">
			<div class="controls">
				<p:commandButton value="#{msg['aplicativo.button.salvar']}" action="#{bean.salvar}" styleClass="btn btn-success" rendered="#{bean.model != null}" />
				<p:spacer width="5px" />
				<p:commandButton value="#{msg['aplicativo.button.cancelar']}" action="#{bean.init}" styleClass="btn" immediate="true"/>
				<p:spacer width="5px" />
				<p:commandButton value="#{msg['aplicativo.button.excluir']}" onclick="PF('confirmation').show();return false;" rendered="#{bean.model.id != null}" immediate="true" styleClass="btn btn-danger" />
			</div>
		</div>

		<p:confirmDialog id="confirmDialog" message="#{msg['aplicativo.confirmacao.exclusao.registro']}" header="#{msg['aplicativo.confirmacao']}" severity="alert" widgetVar="confirmation">
			<p:commandButton id="aceita" value="#{msg['aplicativo.confirmacao.sim']}" update="messages" oncomplete="PF('confirmation').hide()" action="#{bean.remover}"/>
			<p:commandButton id="declina" value="#{msg['aplicativo.confirmacao.nao']}" onclick="PF('confirmation').hide()" type="button" />
		</p:confirmDialog>
		
	</h:form>
</ui:fragment>