<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/layout/template.xhtml">
	<ui:define name="pageTitle">
		<h:outputText value="#{bean.label} - #{msg['aplicativo.label.incluir']}" />
	</ui:define>

	<ui:define name="content">
		<ui:include src="/#{bean.diretorio}/form.xhtml">
			<ui:param name="subtitle" value="#{msg['aplicativo.label.incluir']}" />
		</ui:include>
	</ui:define>
</ui:composition>
</html>