<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/layout/template.xhtml">
	<ui:define name="pageTitle">
		<h:outputText value="#{bean.label} - #{msg['aplicativo.label.listar']}" />
	</ui:define>

	<ui:define name="content">
		<div style="border-bottom: 1px solid #E5E5E5;">
			<h3>
				<h:outputText value="#{bean.label}" />
				<small> <h:outputText value="#{msg['aplicativo.label.listar']}" /></small>
			</h3>
		</div>
		<h:form>
			<p:treeTable value="#{bean.root}" var="model" emptyMessage="Não há registros">
				<p:ajax event="expand" listener="#{bean.abreNo}" />
				<p:column headerText="#" style="width:10%;text-align:center">
					<p:commandLink value="#{model.id}" title="#{msg['aplicativo.label.editar']} #{model.id}" action="#{bean.carregar(model.id)}" />
				</p:column>
				<ui:insert name="colunas"></ui:insert>
			</p:treeTable>
		</h:form>
		<h:messages />
	</ui:define>
</ui:composition>
</html>