<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<ui:composition template="/crud/editar.xhtml">
		<ui:param name="bean" value="#{editarPessoaMB}" />
	</ui:composition>
</html>