<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/crud/form.xhtml">
	<ui:define name="formulario">
		<div class="control-group">
			<label class="control-label"><h:outputText value="Nome:" /></label>
			<div class="controls">
				<h:inputText value="#{bean.model.nome}" required="true" label="Nome"  styleClass="input-large">
					<f:validateLength minimum="5" maximum="60" />
				</h:inputText>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"><h:outputText value="Data de Nascimento:" /></label>
			<div class="controls">
				<p:calendar value="#{bean.model.dataNascimento}" required="true" label="Data de Nascimento"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"><h:outputText value="Sexo:" /></label>
			<div class="controls">
				<p:selectOneMenu value="#{bean.model.sexo.id}" required="true" label="Sexo">
					<f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{bean.listaSexos}" var="item" itemLabel="#{item.descricao}" itemValue="#{item.id}" />
				</p:selectOneMenu>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>