<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/crud/listar.xhtml">
	<ui:param name="bean" value="#{listarPessoaMB}" />
	<ui:param name="beanNovo" value="#{incluirPessoaMB}" />
	<ui:define name="colunas">
		<p:column headerText="Nome" filterBy="#{model.nome}">
			<h:outputText value="#{model.nome}" />
		</p:column>
		<p:column headerText="Data de Nascimento">
			<h:outputText value="#{model.dataNascimento}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</h:outputText>
		</p:column>
		<p:column headerText="Sexo" filterBy="#{model.sexo.id}" filterMatchMode="exact">
			<f:facet name="filter">
				<p:selectOneMenu label="Sexos" onchange="PF('dataTable').filter()" style="width:100px">
					<f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{bean.listaSexos}" var="item" itemLabel="#{item.descricao}" itemValue="#{item.id}"/>
				</p:selectOneMenu>
			</f:facet>
			<h:outputText value="#{model.sexo.descricao}" />
		</p:column>
	</ui:define>
</ui:composition>
</html>