<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/layout/template.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{sobreMB.iniciar()}" />
	</f:metadata>
	
	<ui:define name="pageTitle">
		<h:outputText value="#{msg['sobre.label.titulo']}" />
	</ui:define>

	<ui:define name="content">
		<div style="border-bottom: 1px solid #E5E5E5; margin-bottom: 10px">
			<h3>
				<h:outputText value="#{msg['sobre.label.titulo']}" />
				<small> <h:outputText value="#{msg['aplicativo.titulo']}" /></small>
			</h3>
		</div>

		<div class="row-fluid" style="padding-top: 10px; padding-bottom: 10px">
			<div class="span1"></div>

			<div class="span10">
				<ui:repeat var="p" value="#{sobreMB.entradas}">
					<p>
						<h:outputText value="#{msg[p]}" escape="false" />
					</p>
				</ui:repeat>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>