<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/crud/form.xhtml">
	<ui:define name="formulario">
		<div class="control-group">
			<label class="control-label"><h:outputText value="Descrição:" /></label>
			<div class="controls">
				<h:inputText value="#{bean.model.descricao}" label="Descrição" required="true" styleClass="input-large">
					<f:validateLength minimum="5" maximum="60" />
				</h:inputText>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>