<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/crud/listar.xhtml">
	<ui:param name="bean" value="#{listarSexoMB}" />
	<ui:param name="beanNovo" value="#{incluirSexoMB}" />
	<ui:define name="colunas">
		<p:column headerText="Nome">
			<h:outputText value="#{model.descricao}" />
		</p:column>
	</ui:define>
</ui:composition>
</html>