<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:form>
	<ul class="nav nav-list" style="padding-top: 15px;">
		<li><em><h:outputText value="#{msg['pessoa.label']}" /></em></li>
		<li class="#{menuAtivo == 'pessoalistar' ? 'active' : ''}">
			<h:commandLink action="#{listarPessoaMB.iniciar()}">
				<h:outputText value="#{msg['aplicativo.menu.listar']}" escape="false" />
			</h:commandLink>
		</li>
		<li class="#{menuAtivo == 'pessoaincluir' ? 'active' : ''}">
			<h:commandLink action="#{incluirPessoaMB.iniciar()}">
				<h:outputText value="#{msg['aplicativo.menu.incluir']}" escape="false" />
			</h:commandLink>
		</li>
		
		<li class="divider"></li>
		<li><em><h:outputText value="#{msg['sexo.label']}" /></em></li>
		<li class="#{menuAtivo == 'sexolistar' ? 'active' : ''}">
			<h:commandLink action="#{listarSexoMB.iniciar()}">
				<h:outputText value="#{msg['aplicativo.menu.listar']}" escape="false" />
			</h:commandLink>
		</li>
		<li class="#{menuAtivo == 'sexoincluir' ? 'active' : ''}">
			<h:commandLink action="#{incluirSexoMB.iniciar()}">
				<h:outputText value="#{msg['aplicativo.menu.incluir']}" escape="false" />
			</h:commandLink>
		</li>
		
		<li class="divider"></li>
		<li class="#{menuAtivo == 'sobre' ? 'active' : ''}">
			<h:commandLink action="#{sobreMB.iniciar()}">
				<h:outputText value="#{msg['sobre.menu.item']}" escape="false" />
			</h:commandLink>
		</li>
	</ul>
</h:form>

</ui:fragment>